<div class="wrapp">
	<div class="btn forvard">&#10216</div>
		<div class="empty_page">
	 	<h2><%= getToken("pages.error301") %></h2>
	 	<div class="btn back-home"><%= getToken("nav.back_home") %></div>
	</div>
</div>