<div class="muvies-info-overlay"></div>
<div class="banner-wrapper costom-slick-carousel"></div>

<div>Title best-for-week</div>
<div class="best-for-week costom-slick-carousel"></div>

<div>Title adventures</div>
<div class="adventures costom-slick-carousel"></div>

<div>Title horror</div>
<div class="horror costom-slick-carousel"></div>