	<div class="muvies-info-overlay"></div>
	<div class="categories-main">
		<div class="main-menu-categories btn">Все</div>
		<div class="eyar-menu-categories btn">По году</div>
	</div>
	<div class="categories-custom viewport">
	<div class="before">⟨</div>
	<div class="after">⟩</div>
	</div>

	<div class="muvies">
	</div>