<div class="muvies-info-overlay"></div>
<div class="searchContainer">
	<input class="search_input" type="search" autocomplete="on" placeholder="<%= getToken("pages.search")%>">
	<button type="submit" class="find"></button>
</div>
<div class="muvies">
</div>
